*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: arial;
    background-color: #333;
    .hide{
        display: none;
    }
    .cookie-box{
        position: fixed;
        bottom: 0;
        background-color: #fff;
        padding: 2em;
        font-size: 2rem;
        height: 300px;
        width: 100%;
        text-align: center;
        opacity: 0;
        transform: translateY(100%);
        animation: showCookies .5s .5s forwards;
    }
    .cookie-box::after{
    position: absolute;
    top: -280px;
    right: 50px;
    width: 400px;
    height: 400px;
    content: '';
    background-image: url('https://lezebre.lu/images/detailed/26/65626-JDM-Cookie-Monster.png');
    background-size: cover;
    background-position: center;
    
    }
    .cookie-btn{
        margin-top: 1em;
        padding: 0.5em  1em;
        font-size: 1.6rem;
        border: 5px solid #232020;
        border-radius: 3px;
        color: #fff;
        background-color: #2890d0;
        transition: .3s;
        cursor: pointer;
        &:hover{
            background-color:#135f8e ;
        }
    }
}
@keyframes showCookies  {
    to{
        opacity: 1;
        transform: translateY(0);
    }
}